
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-outer-wrap">
				<ul class="menu-wrap">
					<li>
						<a href="" class="menu-title">Продукция</a>
						<ul>
							<li><a href="">АИПС</a></li>
							<li><a href="">ДИИПЭ</a></li>
							<li><a href="">ПБТ</a></li>
						</ul>
					</li>
				</ul>
				<ul class="menu-wrap">
					<li>
						<a href="" class="menu-title">О компании</a>
						<ul>
							<li><a href="">О нас</a></li>
							<li><a href="">Информация к раскрытию</a></li>
							<li><a href="">Корпоративным клиентам</a></li>
							<li><a href="">Сертификаты</a></li>
							<li><a href="">Руководство</a></li>
						</ul>
					</li>
				</ul>
				<ul class="menu-wrap">
					<li><a href="" class="menu-title">Пресс-центр</a></li>
					<li><a href="" class="menu-title">Карьера</a></li>
					<li><a href="" class="menu-title">Контакты</a></li>
				</ul>
			</div>
			<div class="contacts-wrap">
				<div class="cnt-main-wrap">
					<div class="cnt-wrap">
						<a href="tel:83537206300" class="link-phone">+7 (3537) 206-300</a>
					</div>
					<div class="cnt-wrap">
						<a href="mailto:info@syntalco.ru" class="link-main">info@syntalco.ru</a>
					</div>
				</div>
				<div class="cnt-address-wrap">
					462431, Оренбургская область, г.Орск, ул.  Тобольская 5
				</div>
				<div class="cnt-soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-inst.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<span class="logo-pic">
						<img src="./img/main/logo.svg" alt="">
					</span>
					<span class="logo-title">Синтез <br>спирт</span>
				</a>
			</div>
			<div class="info-wrap">
				© 1960 — 2022, СинтезСпирт Копирование и использование любой информации размещенной на сайте допускается только с указанием источника или по договоренности с администрацией сайта
			</div>
			<div class="studio-wrap">
				<div class="studio-title">Сделано в</div>
				<div class="studio-logo">
					<a href="" class="studio">
						<img src="./img/main/studio.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->


<div class="popup-box popup-form" id="popup-form">
	<div class="popup-title-wrap title-clear">
		<div class="popup-title">Заголовок модального окна</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup frm-small">
			<div class="frm-row">
				<div class="frm-field field-half">
					<label class="frm-label">Введите Ваше имя* </label>
					<input type="text" class="form-input inp-valid" value="konstantinopolsky_86@gmail.com">
				</div>
				<div class="frm-field field-half">
					<label class="frm-label">Введите название компании или должность*</label>
					<input type="text" class="form-input">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-half">
					<label class="frm-label">Введите Email* </label>
					<input type="email" class="form-input">
				</div>
				<div class="frm-field field-half">
					<label class="frm-label">Введите номер телефона*</label>
					<input type="tel" class="form-input">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Сообщение</label>
					<textarea placeholder="" class="form-input"></textarea>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="submit-button">
					<button type="submit" class="btn">Отправить заявку</button>
				</div>
			</div>
		</form>
	</div>
</div>


<div class="popup-box popup-form" id="popup-form-second">
	<div class="popup-title-wrap title-clear">
		<div class="popup-title">Заголовок модального окна</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup frm-small">
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Введите Ваше имя* </label>
					<input type="text" class="form-input inp-valid" value="konstantinopolsky_86@gmail.com">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Введите номер телефона*</label>
					<input type="tel" class="form-input">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Введите название компании или должность*</label>
					<input type="text" class="form-input">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Введите Email* </label>
					<input type="email" class="form-input">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Сообщение</label>
					<textarea placeholder="" class="form-input"></textarea>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="submit-button">
					<button type="submit" class="btn">Отправить заявку</button>
				</div>
			</div>
		</form>
	</div>
</div>


<div class="popup-box" id="popup-order">
	<div class="popup-title-wrap">
		<div class="popup-title">Заявка на продукцию</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Вид продукции</label>
					<select class="form-input">
						<option value="">Диизопропиловый эфир</option>
						<option value="">Диизопропиловый эфир Диизопропиловый эфир Диизопропиловый эфир Диизопропиловый эфир Диизопропиловый эфир Диизопропиловый эфир Диизопропиловый эфир Диизопропиловый эфир </option>
						<option value="">Диизопропиловый эфир</option>
						<option value="">Диизопропиловый эфир</option>
						<option value="">Диизопропиловый эфир</option>
						<option value="">Диизопропиловый эфир</option>
					</select>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Количество тонн</label>
					<div class="frm-field-count">
						<div class="field-count">
							<input type="text" class="form-input" value="75">
						</div>
						<div class="field-info">Минимально допустимые <a href="" class="link-main">объемы для отгрузки</a></div>
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Способ перевозки*</label>
					<select class="form-input">
						<option value="">Танк контейнеры</option>
						<option value="">Танк контейнеры</option>
						<option value="">Танк контейнеры</option>
						<option value="">Танк контейнеры</option>
						<option value="">Танк контейнеры</option>
						<option value="">Танк контейнеры</option>
					</select>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Наименование организации*</label>
					<input type="text" class="form-input" value="ООО “Великолепный век 21”">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">ИНН организации*</label>
					<input type="text" class="form-input" value="">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Контактное лицо*</label>
					<input type="text" class="form-input" value="">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Контактный телефон*</label>
					<input type="tel" class="form-input" value="">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">E-mail для ответа*</label>
					<input type="email" class="form-input" value="">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Области применения*</label>
					<textarea placeholder="" class="form-input"></textarea>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Для собственных нужд</label>
					<div class="frm-select">
						<input type="radio" name="form01" id="form01" checked>
						<label for="form01">Да</label>
					</div>
					<div class="frm-select">
						<input type="radio" name="form01" id="form02">
						<label for="form02">Нет</label>
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label class="frm-label">Сообщение</label>
					<textarea placeholder="" class="form-input"></textarea>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="submit-button">
					<button type="submit" class="btn">Отправить заявку</button>
				</div>
				<div class="submit-info">Нажимая «Отправить», Вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия «Согласие <a href="">на обработку персональных данных</a>».</div>
			</div>
		</form>
	</div>
</div>