<!--main-question-box-->
<div class="main-question-box cnt-section b-top">
	<div class="inner-wrap">
		<div class="text-wrap">
			<h2 class="h1-title title-small">У вас есть вопросы или&nbsp;предложения?</h2>
			<p>Свяжитесь с нами удобным для вас способом. <br>Оставьте заявку или позвоните.</p>
		</div>
		<div class="info-wrap">
			<div class="phone-wrap h1-title title-small">
				<a href="tel:83537206300" class="link-phone">+7 (3537) 206-300</a>
			</div>
			<div class="email-wrap">
				<a href="mailto:info@syntalco.ru" class="link-main">info@syntalco.ru</a>
			</div>
			<div class="address-wrap">462431, Оренбургская область, г.Орск, ул.  Тобольская 5</div>
			<div class="action-wrap">
				<a href="" class="btn">Связаться с нами</a>
			</div>
		</div>
	</div>
</div>
<!--/main-question-box-->